$primary-color: #00703C;
$secondary-color: #FBD11A;

$accent1-color: #28166F;
$accent2-color: #DA251D;

$light-color: #FFFFFF;
$dark-color: #000000;

$chat-height: 400px;
$chat-width: 350px;

$chat-multiple-gap: 325px;

body {
    position: relative;
    background-color: #F4F2EE !important;
}

.input-action {
    cursor: pointer;
}

.loader {
    position: fixed;
    top: 0;
    display: block;
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 100%;
    z-index: 99999;

    .loader-element {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        right: 50%;
        bottom: 50%;
        left: 50%;
        z-index: 99998;

        .loader-image {
            position: absolute;
            height: 284px;
            width: 284px;
            background-image: url(../../public/images/tagbilaran-seal.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 99997;
        }

        .loader-border {
            filter: blur(1px);
            -webkit-filter: blur(1px);
            position: absolute;
            height: 300px;
            width: 300px;
            border: 15px solid $accent1-color;
            border-radius: 50%;
            border-top: 15px solid $accent2-color;
            z-index: 99997;
            -webkit-animation: spin .7s linear infinite;
            animation: spin .7s linear infinite;
        }
    }
}

.chatbox-content {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #F1F1F1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888888;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555555;
    }
}

.chat-box {
    position: fixed;
    bottom: 0px;
    height: 450px;
    width: 310px;
    z-index: 99996;
}

.chat-list {
    position: fixed;
    bottom: 0px;
    left: 285px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 99996,
}

/* Start of FullCalendar CSS */
.fc {
    a {
        color: $primary-color;
    }
}

.fc-button {
    background-color: $primary-color !important;
    color: $light-color !important;
    border: 1px solid $primary-color !important;

    &:hover {
        background-color: #0b4b27 !important;
    }
}

.fc-button-active {
    background-color: #0b4b27 !important;
}

.fc-toolbar-title {
    color: $primary-color;
    font-weight: bold;
    text-transform: uppercase;
}

.fc-col-header-cell-cushion {
    text-transform: uppercase;
    text-decoration: none;
}

.fc-day {
    cursor: pointer;
}

.fc-event {
    cursor: pointer;
    text-align: center;
}

.fc-event-time {
    font-weight: bold;
}

.fc-event-title {
    border-radius: 3px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    font-weight: bold;
}

.fc-custom-event {
    .fc-daygrid-event-dot, .fc-event-time {
        display: none;
    }

    .fc-event-title {
        padding: 2px;
    }
}

.fc-local-holiday {
    background-color: $accent1-color;
    
    .fc-event-title {
        background-color: $accent1-color;
        color: $light-color;
    }
}

.fc-regular-holiday {
    background-color: $accent2-color;
    
    .fc-event-title {
        background-color: $accent2-color;
        color: $light-color;
    }
}

.fc-my-event {
    background-color: $secondary-color;
    
    .fc-event-title {
        background-color: $secondary-color;
        color: $dark-color;
    }
}

.fc-today-button {
    text-transform: uppercase !important;
}
/* End of FullCalendar CSS */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}