body {
  position: relative;
  background-color: #F4F2EE !important;
}

.input-action {
  cursor: pointer;
}

.loader {
  position: fixed;
  top: 0;
  display: block;
  background: rgba(255, 255, 255, 0.4);
  height: 100%;
  width: 100%;
  z-index: 99999;
}
.loader .loader-element {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  z-index: 99998;
}
.loader .loader-element .loader-image {
  position: absolute;
  height: 284px;
  width: 284px;
  background-image: url(../../public/images/tagbilaran-seal.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99997;
}
.loader .loader-element .loader-border {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  position: absolute;
  height: 300px;
  width: 300px;
  border: 15px solid #28166F;
  border-radius: 50%;
  border-top: 15px solid #DA251D;
  z-index: 99997;
  -webkit-animation: spin 0.7s linear infinite;
  animation: spin 0.7s linear infinite;
}

.emoji-container::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 6%;
  border: 10px solid;
  border-color: white transparent transparent transparent;
}

.alert-dialog {
  z-index: 99996 !important;
}

.chat-box {
  position: fixed;
  z-index: 99995;
}
.chat-box .chat-box-content {
  overflow-x: hidden;
  overflow-y: auto;
}
.chat-box .chat-box-content::-webkit-scrollbar {
  width: 10px;
}
.chat-box .chat-box-content::-webkit-scrollbar-track {
  background: #F1F1F1;
}
.chat-box .chat-box-content::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
}
.chat-box .chat-box-content::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
.chat-box .chat-box-content .chat-box-sender {
  display: flex;
  flex-direction: row-reverse;
}
.chat-box .chat-box-content .chat-box-sender .chat-box-options {
  left: -80px;
  flex-direction: row;
}
.chat-box .chat-box-content .chat-box-receiver {
  display: flex;
  flex-direction: row;
}
.chat-box .chat-box-content .chat-box-receiver .chat-box-avatar {
  margin-right: 5px;
}
.chat-box .chat-box-content .chat-box-receiver .chat-box-options {
  right: -80px;
  flex-direction: row-reverse;
}
.chat-box .chat-box-content .chat-box-avatar {
  display: flex;
  justify-content: flex-start;
}
.chat-box .chat-box-content .chat-box-message {
  position: relative;
  width: auto;
  border-radius: 10px;
}
.chat-box .chat-box-content .chat-box-message .chat-box-options {
  position: absolute;
  top: 0;
  display: flex;
}
.chat-box .chat-box-content .chat-box-message .chat-box-message-attachments {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chat-box .chat-box-content .chat-box-message .chat-box-message-attachments .attachment-thumbnail-action {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBD11A;
  color: #000000;
  border-radius: 50px;
  padding: 2px 4px;
  font-size: 1rem;
  z-index: 10;
}
.chat-box .chat-box-content .chat-box-message .chat-box-message-attachments .attachment-thumbnail-item {
  cursor: pointer;
  max-width: 180px;
  border-radius: 10px;
  background-color: #DDDDDD;
  color: #000000;
  word-wrap: break-word;
  font-size: x-small;
  font-weight: bold;
  margin: 5px;
  border: 2px solid #DDDDDD;
}
.chat-box .chat-box-content .chat-box-message .chat-box-message-attachments .attachment-thumbnail-default {
  cursor: pointer;
  max-width: 200px;
  border-radius: 10px;
  background-color: #DDDDDD;
  color: #000000;
  word-break: break-all;
  font-size: 0.85rem;
  margin: 5px;
  border: 2px solid #DDDDDD;
  padding: 1px 10px;
  text-decoration: none;
}
.chat-box .chat-box-content .chat-box-message .chat-box-message-attachments .attachment-thumbnail-default .icon {
  margin-right: 1px;
  padding: 12px 8px;
  background-color: #c9c9c9;
  border-radius: 10px;
}
.chat-box .chat-box-content .chat-box-message .chat-box-message-attachments .attachment-thumbnail-default .filename {
  font-weight: bold;
}
.chat-box .chat-box-content .chat-box-message .chat-box-message-attachments .attachment-thumbnail-default .size {
  margin-top: 5px;
  font-size: 0.75rem;
}
.chat-box .chat-box-content .chat-box-message .chat-box-message-text {
  font-size: 0.95rem;
  padding: 0.4rem 0.8rem;
}
.chat-box .chat-box-content .chat-box-message .chat-box-message-timestamp {
  padding: 0.2rem 0.4rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: end;
  border-radius: 0px 0px 10px 10px;
}

.chat-list {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 99995;
}

.chat-attachment-container {
  position: absolute;
  top: -78px;
  height: 80px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px 10px 0px 0px;
}
.chat-attachment-container .chat-attachment-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 0.5rem 0.4rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.chat-attachment-container .chat-attachment-content .chat-attachment-thumbnail {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDDDDD;
  border-radius: 10px;
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
  max-height: 50px;
}
.chat-attachment-container .chat-attachment-content .chat-attachment-thumbnail .chat-attachment-cancel {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  font-size: 1.8rem;
}
.chat-attachment-container .chat-attachment-content .chat-attachment-thumbnail .chat-attachment-remove {
  cursor: pointer;
  position: absolute;
  top: -7px;
  right: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBD11A;
  border-radius: 50px;
  padding: 2px 4px;
  font-size: 1rem;
}
.chat-attachment-container .chat-attachment-content .chat-attachment-thumbnail .chat-thumbnail-item {
  height: 100%;
  width: 50px;
  border-radius: 10px;
}
.chat-attachment-container .chat-attachment-content .chat-attachment-thumbnail .chat-thumbnail-default {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
  font-size: 0.85rem;
  background-color: #FFFFFF;
  padding: 1px 10px;
}
.chat-attachment-container .chat-attachment-content .chat-attachment-thumbnail .chat-thumbnail-default span {
  margin-right: 5px;
}
.chat-attachment-container .chat-attachment-content .chat-attachment-thumbnail .chat-thumbnail-default b {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-attachment {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 0rem 0.5rem;
  z-index: 99998;
}
.view-attachment .view-attachment-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1rem;
}
.view-attachment .view-attachment-container .view-attachment-header {
  height: 8%;
  width: 100%;
}
.view-attachment .view-attachment-container .view-attachment-header .download, .view-attachment .view-attachment-container .view-attachment-header .close {
  cursor: pointer;
  position: absolute;
  padding: 0.5rem 0.8rem;
  background-color: #DDDDDD;
  color: #000000;
  border-radius: 100%;
}
.view-attachment .view-attachment-container .view-attachment-header .download {
  top: 22px;
  right: 60px;
}
.view-attachment .view-attachment-container .view-attachment-header .close {
  top: 22px;
  right: 0px;
}
.view-attachment .view-attachment-container .view-attachment-body {
  height: 92%;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: auto;
  overflow-y: auto;
}
.view-attachment .view-attachment-container .view-attachment-body::-webkit-scrollbar {
  width: 8px;
}
.view-attachment .view-attachment-container .view-attachment-body::-webkit-scrollbar-track {
  background: #F1F1F1;
  border-radius: 8px;
}
.view-attachment .view-attachment-container .view-attachment-body::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 8px;
}
.view-attachment .view-attachment-container .view-attachment-body::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
.view-attachment .view-attachment-container .view-attachment-body .view-attachment-item {
  display: block;
  height: 100%;
  margin: auto;
  object-fit: contain;
}

.notification-message-container {
  display: "flex";
  width: 100%;
}
.notification-message-container .notification-message-text {
  width: 70%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notification-message-container .notification-message-timestamp {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

/* Start of FullCalendar CSS */
.fc a {
  color: #00703C;
}

.fc-button {
  background-color: #00703C !important;
  color: #FFFFFF !important;
  border: 1px solid #00703C !important;
}
.fc-button:hover {
  background-color: #0b4b27 !important;
}

.fc-button-active {
  background-color: #0b4b27 !important;
}

.fc-toolbar-title {
  color: #00703C;
  font-weight: bold;
  text-transform: uppercase;
}

.fc-col-header-cell-cushion {
  text-transform: uppercase;
  text-decoration: none;
}

.fc-day {
  cursor: pointer;
}

.fc-event {
  cursor: pointer;
  text-align: center;
}

.fc-event-time {
  font-weight: bold;
}

.fc-event-title {
  border-radius: 3px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  font-weight: bold;
}

.fc-custom-event.fc-local-holiday {
  background-color: #28166F;
}
.fc-custom-event.fc-local-holiday .fc-event-title {
  background-color: #28166F;
  color: #FFFFFF;
}
.fc-custom-event.fc-regular-holiday {
  background-color: #DA251D;
}
.fc-custom-event.fc-regular-holiday .fc-event-title {
  background-color: #DA251D;
  color: #FFFFFF;
}
.fc-custom-event.fc-my-event {
  background-color: #FBD11A;
}
.fc-custom-event.fc-my-event .fc-event-title {
  background-color: #FBD11A;
  color: #000000;
}
.fc-custom-event .fc-daygrid-event-dot, .fc-custom-event .fc-event-time {
  display: none;
}
.fc-custom-event .fc-event-title {
  padding: 2px;
}

.fc-local-holiday {
  background-color: #28166F;
}
.fc-local-holiday .fc-event-title {
  background-color: #28166F;
  color: #FFFFFF;
}

.fc-regular-holiday {
  background-color: #DA251D;
}
.fc-regular-holiday .fc-event-title {
  background-color: #DA251D;
  color: #FFFFFF;
}

.fc-my-event {
  background-color: #FBD11A;
}
.fc-my-event .fc-event-title {
  background-color: #FBD11A;
  color: #000000;
}

.fc-today-button {
  text-transform: uppercase !important;
}

/* End of FullCalendar CSS */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=globals.css.map */
