$primary-color: #00703C;
$secondary-color: #FBD11A;

$accent1-color: #28166F;
$accent2-color: #DA251D;

$light-color: #FFFFFF;
$dark-color: #000000;

$chat-height: 400px;
$chat-width: 350px;

$chat-multiple-gap: 325px;

body {
    position: relative;
    background-color: #F4F2EE !important;
}

.input-action {
    cursor: pointer;
}

.loader {
    position: fixed;
    top: 0;
    display: block;
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 100%;
    z-index: 99999;

    .loader-element {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        right: 50%;
        bottom: 50%;
        left: 50%;
        z-index: 99998;

        .loader-image {
            position: absolute;
            height: 284px;
            width: 284px;
            background-image: url(../../public/images/tagbilaran-seal.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 99997;
        }

        .loader-border {
            filter: blur(1px);
            -webkit-filter: blur(1px);
            position: absolute;
            height: 300px;
            width: 300px;
            border: 15px solid $accent1-color;
            border-radius: 50%;
            border-top: 15px solid $accent2-color;
            z-index: 99997;
            -webkit-animation: spin .7s linear infinite;
            animation: spin .7s linear infinite;
        }
    }
}

.emoji-container {
    &::after {
        content: "";
        position: absolute;
        bottom: -17px;
        left: 6%;
        border: 10px solid;
        border-color: white transparent transparent transparent;
    }
}

.alert-dialog {
    z-index: 99996 !important
}

.chat-box {
    position: fixed;
    z-index: 99995;

    .chat-box-content {
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }
    
        &::-webkit-scrollbar-track {
            background: #F1F1F1;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #888888;
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar-thumb:hover {
            background: #555555;
        }

        .chat-box-sender {
            display: flex;
            flex-direction: row-reverse;
        }

        .chat-box-receiver {
            display: flex;
            flex-direction: row;

            .chat-box-avatar {
                margin-right: 5px;
            }
        }

        .chat-box-avatar {
            display: flex;
            justify-content: flex-start;
        }

        .chat-box-message {
            width: auto;
            border-radius: 10px;

            .chat-box-message-attachments {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .attachment-thumbnail-action {
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $secondary-color;
                    color: $dark-color;
                    border-radius: 50px;
                    padding: 2px 4px;
                    font-size: 1rem;
                    z-index: 10;
                }

                .attachment-thumbnail-item {
                    cursor: pointer;
                    max-width: 180px;
                    border-radius: 10px;
                    background-color: #DDDDDD;
                    color: $dark-color;
                    word-wrap: break-word;
                    font-size: x-small;
                    font-weight: bold;
                    margin: 5px;
                    border: 2px solid #DDDDDD;
                }

                .attachment-thumbnail-default {
                    cursor: pointer;
                    max-width: 200px;
                    border-radius: 10px;
                    background-color: #DDDDDD;
                    color: $dark-color;
                    word-break: break-all;
                    font-size: .85rem;
                    margin: 5px;
                    border: 2px solid #DDDDDD;
                    padding: 1px 10px;
                    text-decoration: none;

                    .icon {
                        margin-right: 1px;
                        padding: 12px 8px;
                        background-color: #c9c9c9;
                        border-radius: 10px;
                    }

                    .filename {
                        font-weight: bold;
                    }

                    .size {
                        margin-top: 5px;
                        font-size: .75rem;
                    }
                }
            }

            .chat-box-message-text {
                font-size: .95rem;
                padding: .4rem .8rem;
            }

            .chat-box-message-timestamp {
                padding: .2rem .4rem;
                font-size: .75rem;
                font-weight: bold;
                text-align: end;
                border-radius: 0px 0px 10px 10px;
            }
        }
    }
}

.chat-list {
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 99995,
}

.chat-attachment-container {
    position: absolute;
    top: -78px;
    height: 80px;
    width: 100%;
    background-color: $light-color;
    border-radius: 10px 10px 0px 0px;

    .chat-attachment-content {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        padding: .5rem .4rem;
        overflow-x: auto;
        overflow-y: hidden;

        .chat-attachment-thumbnail {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #DDDDDD;
            border-radius: 10px;
            padding: 3px;
            margin-left: 5px;
            margin-right: 5px;
            max-height: 50px;

            .chat-attachment-cancel {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 50px;
                font-size: 1.8rem;
            }

            .chat-attachment-remove {
                cursor: pointer;
                position: absolute;
                top: -7px;
                right: -7px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $secondary-color;
                border-radius: 50px;
                padding: 2px 4px;
                font-size: 1rem;
            }

            .chat-thumbnail-item {
                height: 100%;
                width: 50px;
                border-radius: 10px;
            }
            
            .chat-thumbnail-default {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                border-radius: 10px;
                font-size: .85rem;
                background-color: $light-color;
                padding: 1px 10px;

                span {
                    margin-right: 5px;
                }

                b {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.view-attachment {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 0rem .5rem;
    z-index: 99998;

    .view-attachment-container {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 1rem;

        .view-attachment-header {
            height: 8%;
            width: 100%;

            .download, .close {
                cursor: pointer;
                position: absolute;
                padding: .5rem .8rem;
                background-color: #DDDDDD;
                color: $dark-color;
                border-radius: 100%;
            }

            .download {
                top: 22px;
                right: 60px;
            }
            
            .close {
                top: 22px;
                right: 0px;
            }
        }

        .view-attachment-body {
            height: 92%;
            width: 100%;
            padding-top: 2rem;
            padding-bottom: 2rem;
            overflow-x: auto;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 8px;
            }
            
            &::-webkit-scrollbar-track {
                background: #F1F1F1;
                border-radius: 8px;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #888888;
                border-radius: 8px;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: #555555; 
            }

            .view-attachment-item {
                display: block;
                height: 100%;
                margin: auto;
                object-fit: contain;
            }
        }
    }
}

.notification-message-container {
    display: 'flex';
    width: 100%;

    .notification-message-text {
        width: 70%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .notification-message-timestamp {
        width: 30%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Start of FullCalendar CSS */
.fc {
    a {
        color: $primary-color;
    }
}

.fc-button {
    background-color: $primary-color !important;
    color: $light-color !important;
    border: 1px solid $primary-color !important;

    &:hover {
        background-color: #0b4b27 !important;
    }
}

.fc-button-active {
    background-color: #0b4b27 !important;
}

.fc-toolbar-title {
    color: $primary-color;
    font-weight: bold;
    text-transform: uppercase;
}

.fc-col-header-cell-cushion {
    text-transform: uppercase;
    text-decoration: none;
}

.fc-day {
    cursor: pointer;
}

.fc-event {
    cursor: pointer;
    text-align: center;
}

.fc-event-time {
    font-weight: bold;
}

.fc-event-title {
    border-radius: 3px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    font-weight: bold;
}

.fc-custom-event {
    &.fc-local-holiday {
        background-color: $accent1-color;
        
        .fc-event-title {
            background-color: $accent1-color;
            color: $light-color;
        }
    }

    &.fc-regular-holiday {
        background-color: $accent2-color;
        
        .fc-event-title {
            background-color: $accent2-color;
            color: $light-color;
        }
    }

    &.fc-my-event {
        background-color: $secondary-color;
        
        .fc-event-title {
            background-color: $secondary-color;
            color: $dark-color;
        }
    }

    .fc-daygrid-event-dot, .fc-event-time {
        display: none;
    }

    .fc-event-title {
        padding: 2px;
    }
}

.fc-local-holiday {
    background-color: $accent1-color;
    
    .fc-event-title {
        background-color: $accent1-color;
        color: $light-color;
    }
}

.fc-regular-holiday {
    background-color: $accent2-color;
    
    .fc-event-title {
        background-color: $accent2-color;
        color: $light-color;
    }
}

.fc-my-event {
    background-color: $secondary-color;
    
    .fc-event-title {
        background-color: $secondary-color;
        color: $dark-color;
    }
}

.fc-today-button {
    text-transform: uppercase !important;
}
/* End of FullCalendar CSS */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}